<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="styles/main.css">

<header>
    <img class="logo" src="logo.png" alt="logo" width="40px" height="auto">
    <nav class="nave-bar">
        <ul class="nav-link">
            <li><a href="index">Hjem</a></li>
            <li><a href="about-us">Om Os</a></li>
            <li><a href="company">Forretninger</a></li>
            <li><a href="find-food">Find mad</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>

</header>

</html>