<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">Default Head</head>

<body>
<header th:replace="fragments/header">Default Header</header>

<div class="container">
    <div>
        <img src="Anne.png" alt="Image not found.">
    </div>

    <div>
        <img src="Asger.jpg" alt="Image not found.">
    </div>
    <div>
        <img src="Ines.png" alt="Image not found.">
    </div>
    <div>
        <img src="tobias.jpg" alt="Image not found.">
    </div>
</div>


</body>

<footer th:replace="fragments/footer">Default</footer>
</html>