<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">Default Head</head>

<body>
<header th:replace="fragments/header">Default Header</header>



<div class="container-4-pics">
    <div>
        <img src="Anne.png" alt="Image not found.">
        <br>
        Anne Jermiin Kou Olsen
    </div>
    <div>
        <img src="Asger.jpg" alt="Image not found.">
        <br>
        Asger krabbe
    </div>
    <div>
        <img src="Ines.png" alt="Image not found.">
        <br>
        Maria Inés Luparia Karl
    </div>
    <div>
        <img src="tobias.jpg" alt="Image not found.">
        <br>
        Tobias Nymann Andersen
    </div>
</div>

<div class="about-us-description">
    <p >
        Vi er en gruppe innovative unge mennesker med en vision for en grønnere fremtid med mindre madspild.
        Vi er alle uddannede datamatikere, og står inde med kompetencerne til at stå i spidsen for de nye madvaner.
    </p>
</div>

<div class="food-waste-photo">
    <img src="FoodWasteIMages.jpg" alt="Image not found.">
</div>

</body>

<footer th:replace="fragments/footer">Default</footer>
</html>