<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">Default Head</head>
<header th:replace="fragments/header">Default Header</header>
<body>
<form action="/submitLogIn" method="post">

    <img src="carrots.png" alt="carrots-pic" width="400px" height="auto"/>

    <h2>Log ind</h2>
    <br>
    <input placeholder="E-mail" type="text" id="email" name="email" width="200"><br>
    <br>
    <input placeholder="Password" type="password" id="pasword" name="password" width="200"><br>
    <br>
    <button type="submit" name="submit">Log ind</button><br>
    <br>
    <p>Hvis du endnu ikke har en konto, tilmelde dig for en personlig oplevelse </p>
    <br>
    <button>Opret en konto</button>

</form>
</body>
<footer th:replace="fragments/footer">Default</footer>
</html>