<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">Default Head
    <title>Logged in</title>
</head>
<header th:replace="fragments/header">Default Header</header>
<body>

    <h4> Welkommen tilbage USERNAME</h4>

    <div>
    <button>Favorit butikker</button>

    <button>Profil info </button>
    </div>



    <iframe class ="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18004.212748794078!2d12.530785258426846!3d55.66244250385718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253764030803b%3A0xf12e177be3968203!2sVesterbro%2C%20K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1615376945991!5m2!1sda!2sdk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



    <h4> Indtast postnummer</h4>
    <input placeholder="Postnummer" type="text" id="postnummer" name="postnummer" width="200"><br>
    <br>
    <button type="submit" name="submit">Find</button><br>

    <table>
        <tr>
            <th></th>
            <th>Forretning</th>
            <th>Afstand fra dig</th>
        </tr>
        <tr>
            <td>❤</td>
            <td>Leo's Pizza</td>
            <td>0,5 km</td>
        </tr>
        <tr>
            <td>🤍</td>
            <td>Kin Kin</td>
            <td>1,2 km</td>
        </tr>
        <tr>
            <td>❤</td>
            <td>Kaffestuen Vesterbro</td>
            <td>1,8 km</td>
        </tr>

    </table>




</body>
<footer th:replace="fragments/footer">Default</footer>
</html>