html {
    background-color: white;
    font-family: sans-serif;
}

.home-pic-container {
    background-image: url('/static/vegetables.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}