html {
    background-color: white;
    font-family: sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}


/* (templates/fragments/header) */

.nave-bar{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    border-radius: 50px;
    background-color:darkgreen;
}

li a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.container-4-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    left: 20%;

}

.container-4-pics img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.logo {
    cursor: pointer;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    padding: 10px 20px;
    display: inline;
    float: right;
    margin-right: 30px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: lightskyblue;
    border-bottom: 1px solid lightskyblue;
}

button {
    background-color:darkgreen;
    padding: 9px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover{
    background-color:green;
}

header img {
    float: left;
}

footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

main img {
    border-radius: 30px;
    float: left;
    margin-right:20px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin-left: 100px;
}

form img {
    float: right;
    margin-top: 50px;
    margin-right: 300px;
}

.map{
    margin-left: 290px;
    width: 600px;

}

.forretninger{
    border: 1px solid steelblue;
}

