html {
    background-color: white;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}


/* (templates/fragments/header) */
.header{
    background-color: lightskyblue;
}
.nave-bar{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    border-radius: 50px;
    background-color: rgba(0,136,169,1);
}
li, a{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10% ;
}

.logo{
    cursor: pointer;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a{
    transition: all 0.3s ease 0s;
}
.nav-link li a:hover{
    color: lightskyblue;
}

button{
    background-color:rgba(0,136,169,1);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s
}

button:hover{
    background-color:rgba(0,136,169,0.8);
}

* {
    padding: 10px;
}
header img {
    float: left;
}


footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}
.nav-link li {
    display: inline;
    float: right;
    margin-right: 30px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgreen;
    font-weight: 800;
}

main img {
    border-radius: 40px;
    float: left;
    /*box-shadow:; ??? */
}
form {
    margin-left: 100px;
}

form img {
    float: right;
    margin-top:50px;
    margin-right: 300px;
}

button {
    border-radius: 20px;
}